<!-- Main body content start -->
<main class="main_order">
    <!-- 8. Orders area start -->
    <section class="orders">
        <div class="container">
            <h5 class="page_title">All Orders</h5>
            <div id="OPSuccessAlert" role="alert">
                <div class="success_alert">
                    <i class='bx bxs-badge-check'></i>
                    <p id="OPMessage"></p>
                </div>
            </div>
            <table class="table table-borderless orders_table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Orders</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(orders.length) { %>
                        <% orders.forEach((order, index)=> {%>
                            <tr class="<%= order.status === 'completed' ? 'order_complete' : '' %>">
                                <th scope="row">
                                    <%= index + 1 %>
                                </th>
                                <td><a class="order_id" href="/customer/orders/<%= order._id %> "">
                                        <%= order._id %>
                                    </a></td>
                                <td>
                                    <%= order.phone %>
                                </td>
                                <td>
                                    <%= order.address %>
                                </td>
                                <td>
                                    <%= moment(order.createdAt).format('hh:mm A -- DD-MM-YYYY') %>
                                </td>
                            </tr>
                            <% }) %>
                                <% } %>
                </tbody>
            </table>
        </div>
    </section>
    <!-- 8. Orders area end -->
</main>
<!-- Main body content end -->